@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --Azul: #353fce;
  --AzulHover: #2b33a8 ;
  --Vermelho: #e60000;
  --VermelhoHover: #cc0000 ;
  --Preto: #000000;
  --Branco: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  
}

/* index.html */

body {
  background-color: var(--Branco);
  color: var(--Preto);
  display: flex;
  height: 100vh;
}

#sidebar {
  width: 250px;
  background-color: var(--Azul);
  color: var(--Branco);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.logo-container {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

#sidebar ul {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

#sidebar ul li {
  margin-bottom: 20px;
}

#sidebar ul li button {
  background: none;
  border: none;
  color: var(--Branco);
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  cursor: pointer;
  padding: 0;
  transition: all 0.3s ease-in-out;
}

#sidebar ul li button i {
  margin-right: 10px;
  font-size: 18px;
}

#sidebar ul li button:hover {
  transform: scale(1.1);
}

#main-content {
  flex: 1;
  padding: 50px;
}

#main-content h2 {
  font-size: 24px;
  color: var(--Preto);
  margin-bottom: 10px;
}

#main-content p {
  font-size: 16px;
  color: var(--Preto);
}

/* login.html */
#loginPage {
  font-family: "Roboto", sans-serif;
  background-color: var(--Azul);
  color: var(--Preto);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#loginContainer {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 350px;
  padding: 20px;
  border-radius: 10px;
  margin: auto;
  margin-top: 30vh;
  position: relative;
  background-color: var(--Branco);
  box-shadow: 0px 0px 20px var(--Preto);
}

#loginContainer input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 2px solid #ccc;
  font-size: 14px;
}

#loginContainer h1 {
  margin-bottom: 20px;
  margin-top: 40px;
}

.btn_fechar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  border: none;
  border-radius: 4px;
  width: 25px;
  height: 25px;
  top: 0px;
  right: 10px;
  margin-top: 10px;
  margin-right: 10px;
  background-color: var(--Preto);
  color: var(--Branco);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn_fechar i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

.btn_fechar:hover {
  transform: scale(1.1);
  background-color: #1f1f1f;
}

.btn_confirmar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: none;
  border-radius: 4px;
  width: 120px;
  height: 30px;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: var(--Azul);
  color: var(--Branco);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn_confirmar:hover {
  background-color: var(--AzulHover);
  transform: scale(1.1);
}

/* Tela escura */
#tela_escura {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 1000;
}

/* Cards */
#cad_funcionario,
#cad_filial,
#alt_func {
  background-color: var(--Branco);
  border-radius: 15px;
  padding: 20px 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  position: relative;
  min-width: 300px;
  max-width: 400px;
  width: 90%;
  display: none;
  flex-direction: column;
  gap: 10px;
}

#cad_funcionario h1,
#cad_filial h1,
#alt_func h1 {
  margin-bottom: 10px;
}

#cad_funcionario input,
#cad_funcionario select,
#cad_filial input,
#alt_func input,
#alt_func select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 2px solid #ccc;
  font-size: 14px;
}

.btns_alt_func {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.btns_alt_func button {
  flex: 1;
  max-width: 150px;
  height: 40px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  color: var(--Branco);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#btn_salv_alt {
  background-color: var(--Azul); 
}

#btn_salv_alt:hover {
  background-color: var(--AzulHover);
  transform: scale(1.1);
}

#btn_excluir_alt {
  background-color: var(--Vermelho); 
}

#btn_excluir_alt:hover {
  background-color: var(--VermelhoHover);
  transform: scale(1.1);
}

/* Logout.html*/

#logoutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  margin-top: 30vh;
  position: relative;
  background-color: var(--Branco);
}

#btn_redirecionar {
  width: fit-content;
}

.btn_confirmar i {
  margin-left: 8px;
  display: inline-flex;
  align-items: center;
  line-height: 1;
}